.login-page {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.login-section {
  margin: 10px;
  max-width: 400px;
  color: grey;
  overflow: hidden;
}
.login-title {
  color: black;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.login-section input {
  padding: 20px;
  width: 100%;
  font-weight: 500;
  display: block;
  border: 1px solid #ececec9f;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px #ecececb6;
  outline: none;
}
.authentication-error-message {
  color: red;
}
.login-section p {
  padding: 10px 5px;
  font-size: 12px;
}
.login-button {
  width: 100%;
  padding: 10px 0px;
  display: block;
  color: white;
  background-color: #2bde8c;
  border: none;
  border-radius: 5px;
}
.login-help-section {
  text-align: center;
}
.login-help-section span {
  cursor: pointer;
}
