.experience-card-item {
    padding: 10px 5px 10px 0px;
}
.experience-card-img{
    width: 100%;
}
.experience-card-place {
    padding: 2px 0px 5px 0px;
    font-size: 10px;
}
p {
    margin: 0;
}
.experience-card-title {
    font-weight: 700;
}
.experience-card-rating {
	color: #00a799;
	font-weight: 300;
    font-size: 14px;
}
.experience-card-rating-point {
    margin-left: 5px;
    position: relative;
    top: 2px;
    color: black;
}