.not-found-section {
  width: 400px;
  display: block;
  color: grey;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.not-found-page-title {
  color: black;
}
