.payment-types {
    padding: 30px;
    border: 1px solid grey;
}
.credit-card-section-description {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}