.experiences-section {
    margin-bottom: 30px;
}
.home-section {
    padding: 50px;
}
.home-section-title {
 display: flex;
 justify-content: space-between;
}
.section-all-item-link {
    color: black;
    position: relative;
    top: 5px;
}
.section-all-item-link:hover {
    color: #2BDE8C;
}